* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

body {
  height: 100vh;
  background-color: #262424;
}

p {
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #eee5da;
  width: 49%;
  margin-left: 475px;
  margin-right: 500px;
}

.nav-title {
  padding-left: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.box {
  display: flex;
  justify-content: flex-start;
  background-color: #eee5da;
  width: 49%;
  margin-left: 475px;
  margin-right: 500px;
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
}

.proj-title {
  display: flex;
  justify-content: flex-start;
  width: 49%;
  margin-left: 480px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.proj-box {
  display: flex;
  justify-content: flex-start;
  background-color: #eee5da;
  width: 49%;
  margin-left: 475px;
  margin-right: 500px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}

.grid-item {
  background-color: #262424;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

ul {
  padding: 10px;
}

li {
  font-size: 20px;
  padding: 5px;
}
