* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/8-bit-background-2.png");
  background-size: cover;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

section {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.poke-modal {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-55%, -55%);
  width: 80%;
  height: 80%;
  background-color: #b48291;
  border-radius: 10px;
}

.close-nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}

#close {
  background-color: rgb(31, 32, 33);
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

#close img {
  width: 1.5rem;
  height: 1.5rem;
}

.poke-content {
  height: fit-content;
  width: 100%;
}

.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-inline: auto;
  background-color: #b48291;
}

.poke-title {
  font-size: 2rem;
  padding: 2rem;
}

#poke-card-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#poke-sprite {
  display: none;
  width: 8rem;
  height: 8rem;
}

#mon-title {
  font-size: 1.5rem;
  padding: 1rem;
}

#poke-stats {
  list-style: none;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

#poke-stats li {
  font-size: 1rem;
  margin: 1rem;
}

#poke-form {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#poke-input,
.poke-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.poke-btn:active {
  background-color: rgba(255, 255, 255, 0.5);
}



::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.column {
  display: flex;
  flex-direction: column;
}

.trash,
.folder,
.chrome,
.spotify,
.steam,
.pokedex,
.home {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1.8rem;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trash {
  background-image: url("/images/trash.png");
}

.btn-group {
  align-items: center;
  text-align: center;
}

.folder {
  background-image: url("/images/folder.png");
}

.folder:active {
  background-image: url("/images/open-folder.png");
}

.chrome {
  background-image: url("/images/chrome.png");
}

.spotify {
  background-image: url("/images/spotify.png");
  margin-left: 2rem;
}

.steam {
  background-image: url("/images/steam.png");
}

.pokedex {
  background-image: url("/images/pokedex.png");
}

.home {
  background-image: url("/images/home.png");
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.7rem;
}

.icon-p {
  font-size: 12px;
}

nav {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  list-style: none;
}

#clock {
  margin-right: 1rem;
}
