* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-card::before {
  content: "";
  position: absolute;
  background: url(/images/Snapchat-1273906265.jpg) no-repeat center;
  height: 900px;
  width: 100%;
  z-index: -1;
  filter: blur(5px);
}

.main-title {
  font-size: 120px;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  height: 900px;
  background-color: #000000dc;
}

.cards-title {
  font-size: 80px;
  color: white;
  margin-top: 50px;
}
