* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/8-bit-background-2.png");
  background-size: cover;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p {
  font-size: 12px;
}

section {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.trash,
.folder,
.chrome,
.spotify,
.steam,
.home {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1.8rem;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trash {
  background-image: url("/images/trash.png");
}

.btn-group {
  align-items: center;
  text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: rgb(31, 32, 33);
  border-radius: 10px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.folder {
  background-image: url("/images/folder.png");
}

.folder:active {
  background-image: url("/images/open-folder.png");
}

.chrome {
  background-image: url("/images/chrome.png");
}

.spotify {
  background-image: url("/images/spotify.png");
  margin-left: 2rem;
}

.steam {
  background-image: url("/images/steam.png");
}

.home {
  background-image: url("/images/home.png");
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.7rem;
}

nav {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}

ul {
  list-style: none;
}
