image:
  repository: registry.home/mirkodinc
  tag: latest
ingress:
  enabled: true
  className: nginx
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "mirko.rojandinc.se"
    nginx.ingress.kubernetes.io/enable-global-auth: "false"
  hosts:
    - host: mirko.rojandinc.se
      paths:
        - path: /
          pathType: ImplementationSpecific
service:
  port: 80
resources:
  requests:
    cpu: 10m
    memory: 64Mi
autoscaling:
  enabled: false
