* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/8-bit-background-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

section {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn-group {
  align-items: center;
  text-align: center;
}

.icon-p {
  font-size: 12px;
}

nav {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  list-style: none;
}

#clock {
  margin-right: 1rem;
}
